.DS_Store
.AppleDouble
.LSOverride

data/*
!data/game/
data/game/*
!data/game/mod.xml

expansion/*
!expansion/game
expansion/game/*
!expansion/game/mod.xml

expansion2/*
!expansion2/game
expansion2/game/*
!expansion2/game/mod.xml

expansion3/*
!expansion3/game
expansion3/game/*
!expansion3/game/mod.xml
